/* styl pro mapu */
.map-style {
    width: 100%;
    height: 35vw;
    border: 1px solid black;
}

/* styly pro popup okno */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
    min-width: 200px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #ccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-hidden {
    display: none;
}

/* nastavení kurzoru na kříž */
.ol-viewport {
    cursor: crosshair;
}

/* umožnění rolování tabulky s daty */
.scrollable-table {
    overflow: auto;
    max-height: 17vw;
}

/* přilepení hlavičky tabulky */
.sticky-top {
    top: 0;
    z-index: 100;
}

/* přilepení názvu polylinie */
.sticky-polyline {
    position: sticky;
    top: 4vw;
    z-index: 1;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* styl pro okno nápovědy */
.tooltip-box {
    position: absolute;
    top: 120%;
    left: 0;
    width: 300px;
    background-color: #f8f9fa;
    color: black;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.tooltip-container {
    position: relative;
}

.tooltip-header {
    color: #0d6efd;
    margin-bottom: 0.5rem;
}

.close-tooltip {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #6c757d;
    cursor: pointer;
    line-height: 1;
}

.close-tooltip:hover {
    color: #dc3545;
}

/* styl ikony nápovědy */
.tooltip-icon {
    cursor: pointer;
    font-size: 1.25rem;
    color: white;
}
