.map-style {
    width: 100%;
    height: 37vw;
    border: 1px solid black;
}

.scrollable-section {
    max-height: 34vw;
    overflow-y: auto;
    padding-right: 10px;
}

.ol-tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    white-space: nowrap;
    font-size: 12px;
    pointer-events: none;
    z-index: 10;
}

.ol-tooltip-hidden {
    display: none;
}
